*{
margine:0;
}

body{
    margine:0;
}

.container{
    padding-left: 40px;
    display: flex;
    background-color: rgb(243, 190, 124);
    margin-bottom: 0;
}
footer{
    margin-top: 0;
    background-color:black;
    color:white;
    height:300px;
}
footer ul{
    padding-top: 40px;
    margin-top: 1px;
     list-style:none;
}
.footer-right{
    text-align:right;

}